* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.page-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background: transparent;
}
